.div-usersForm {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #80808081;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.div-usersForm.is-visible {
    display: flex;
}
.form-users {
    height: 500px;
    width: 385px;
    background-color: white;
    padding: 25px;
}
.form-users h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
.button-close {
    position: relative;
    bottom: 230px;
    left: 370px;
    font-size: 1.2rem;
    background-color: white;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 2px;
    font-family: 'Roboto', sans-serif;
}
.input-container input {
    height: 35px;
    padding-left: 5px;
}
.input-container input::placeholder {
   
    font-family: 'Roboto', sans-serif;
}
input[type="date" i]  {
    padding-right: 5px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.input-container button {
    margin-top: 5px;
    height: 35px;
    background:  #555A88;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    border-style: none;
}